<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>小组作业完成情况系统</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><h2>查看完成情况后台</h2></div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="" target="iframe">主页</a></li>
            <li class="layui-nav-item"><a href="" target="iframe">管理员信息</a></li>
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">其它系统</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="#" target="iframe">邮件管理</a></dd>-->
<!--                    <dd><a href="#" target="iframe">消息管理</a></dd>-->
<!--                    <dd><a href="#" target="iframe">授权管理</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
        </ul>
        <ul class="layui-nav layui-layout-right">

<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;" >-->
<!--                    <p th:text="${session.userName}" style="color: #00FF00"></p>-->
<!--                </a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="admin/html/adminUser.html" target="iframe">基本资料</a></dd>-->
<!--                    <dd><a href="admin/html/safetySet.html" target="iframe">安全设置</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
            <li class="layui-nav-item"><a href="/">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/showpie" target="iframe">饼图案列</a></dd>
                        <dd><a href="/showbar" target="iframe">柱状图案例</a></dd>
                        <dd><a href="/showline" target="iframe">折线图案例</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">查看信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/List" target="iframe">小组信息</a></dd>
                        <dd><a href="/plist" target="iframe">学生信息</a></dd>
<!--                        <dd><a href="/new" target="iframe">发起众筹</a></dd>-->
                    </dl>
                </li>

<!--                <li class="layui-nav-item">-->
<!--                    <a class="" href="javascript:;">文章管理</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd><a href="admin/html/blogsAdd.html" target="iframe">新增文章</a></dd>-->
<!--                        <dd><a href="admin/html/blogsList.html" target="iframe">查看文章</a></dd>-->
<!--                        <dd><a href="admin/html/commentMang.html" target="iframe">评论管理</a></dd>-->
<!--                        <dd><a href="admin/html/sortManager.html" target="iframe">分类管理</a></dd>-->
<!--                    </dl>-->
<!--                </li>-->
<!--                <li class="layui-nav-item">-->
<!--                    <a href="javascript:;">权限控制</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd><a href="#" target="iframe">列表一</a></dd>-->
<!--                        <dd><a href="#" target="iframe">列表二</a></dd>-->
<!--                        <dd><a href="admin/html/welcome.html" target="iframe">超链接</a></dd>-->
<!--                    </dl>-->
<!--                </li>-->
                <li class="layui-nav-item">
                    <a href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="login.html">退出系统</a></dd>
<!--                        <dd><a href="admin/html/welcome.html" target="iframe">超链接</a></dd>-->
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 2px;">
            <iframe name="iframe" width="100%" height="700px" frameborder="0"
                    class="xiframe" scrolling="no" src="/m"></iframe>
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <span style="margin-left: 500px">
             @Student-Grade-Accessment-System小组成员
        </span>

    </div>
</div>
<script th:src="@{/static/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>