<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.redshop.mapper.tradeMapper">

    <resultMap type="com.example.redshop.domain.trade" id="tradeInfo">
        <result column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="seller_id" property="sellerId"/>
        <result column="trade" property="trade"/>
        <result column="product_num" property="product_num"/>
        <result column="total_trade" property="total_trade"/>
        <result column="remark" property="remark"/>
        <result column="productName" property="productName"/>
        <result column="buyerName" property="buyerName"/>
        <result column="sellerName" property="sellerName"/>
    </resultMap>

    <select id="queryList" resultMap="tradeInfo" >

        SELECT *
        from s_trade
        <where>

            <if test="buyerid!=null "> and buyer_id = #{buyerid} </if>
            <if test="productid!=null "> and product_id = #{productid} </if>
            <if test="sellerid!=null "> and seller_id = #{sellerid} </if>
        </where>
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int" >
        select count(*) from s_trade
        <where>
            <if test="productid!=null"> and product_id = #{productid} </if>
            <if test="buyerid!=null"> and buyer_id = #{buyerid} </if>
            <if test="sellerid!=null "> and seller_id = #{sellerid} </if>

        </where>
    </select>

    <insert id="addtrade" parameterType="trade">
        insert into s_trade(product_id,buyer_id,seller_id,trade,product_num, total_trade, remark)
        values(#{productId},#{buyerId},#{sellerId},#{trade},#{product_num}, #{total_trade},#{remark})
    </insert>

    <delete id="deletetrade" parameterType="int">
        delete from s_trade where id = #{id}
    </delete>

    <!--    <update id="editbuyer" parameterType="buyer">-->
    <!--        update s_buyer-->
    <!--        <set>-->
    <!--            <if test="username != null">-->
    <!--                username = #{username},-->
    <!--            </if>-->
    <!--            <if test="clazzId != null">-->
    <!--                clazz_id = #{clazzId},-->
    <!--            </if>-->
    <!--            <if test="sex != null">-->
    <!--                sex = #{sex},-->
    <!--            </if>-->
    <!--            <if test="mobile != null">-->
    <!--                mobile = #{mobile},-->
    <!--            </if>-->
    <!--            <if test="qq != null">-->
    <!--                qq = #{qq},-->
    <!--            </if>-->
    <!--            <if test="photo != null">-->
    <!--                photo = #{photo},-->
    <!--            </if>-->
    <!--        </set>-->
    <!--        where id = #{id}-->
    <!--    </update>-->


        <select id="findById" parameterType="int" resultType="buyer">
            select * from s_buyer where id = #{id}
        </select>

    <!--    <select id="findBybuyer" parameterType="buyer" resultType="buyer">-->
    <!--        select * from s_buyer where username = #{username} and password = #{password}-->
    <!--    </select>-->

    <select id="istrade" parameterType="trade" resultType="trade">
        select * from s_trade where product_id = #{productId} and buyer_id = #{buyerId}
    </select>

    <update id="edittrade" parameterType="trade">
        update  s_trade set product_id = #{productId},buyer_id = #{buyerId},seller_id = #{sellerId},trade = #{trade}, product_num = #{product_num}, total_trade = #{total_trade}, remark = #{remark} where id = #{id}
    </update>

    <select id="getAll" parameterType="trade" resultMap="tradeInfo">
        select  s_trade.*,s_product.name as productName,s_buyer.username as buyerName, s_seller.username as sellerName
        from s_trade,s_product,s_buyer,s_seller
        <where>
            s_trade.product_id = s_product.id and s_trade.buyer_id = s_buyer.id and s_trade.seller_id = s_seller.id
            <if test="productId!=null and productId != ''"> and product_id = #{productId} </if>
            <if test="buyerId!=null and buyerId != ''"> and buyer_id = #{buyerId} </if>
            <if test="sellerId!=null and sellerId != ''"> and s_trade.seller_id = #{sellerId} </if>
        </where>
    </select>

    <select id="getAvgStats" parameterType="int" resultType="tradeStats">
        select max(s_trade.total_trade) as max_trade,avg(s_trade.total_trade) as avg_trade,min(s_trade.total_trade) as min_trade,s_product.name as productName
        from s_trade,s_product
        where s_trade.product_id=s_product.id and s_trade.product_id = #{productid}
    </select>

    <select id="getAvgStats2" parameterType="int" resultType="tradeStats2">
        select max(s_trade.total_trade) as max_trade,avg(s_trade.total_trade) as avg_trade,min(s_trade.total_trade) as min_trade,s_seller.username as sellerName
        from s_trade,s_seller
        where s_trade.seller_id=s_seller.id and s_trade.seller_id = #{sellerid}
    </select>

    <select id="getAvgStats3" parameterType="int" resultType="tradeStats3">
        select max(s_trade.total_trade) as max_trade,avg(s_trade.total_trade) as avg_trade,min(s_trade.total_trade) as min_trade,s_buyer.username as buyerName
        from s_trade,s_buyer
        where s_trade.buyer_id=s_buyer.id and s_trade.buyer_id = #{buyerid}
    </select>


</mapper>