<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crud.mapper.CommitEventMapper">

    <!--??????-->
    <select id="committeemen" resultType="CommitEvent">
        select * from commitevent
    </select>


    <!--????-->
    <insert id="addstudent" parameterType="Student" keyProperty="id" >
        INSERT INTO student(studentname,project,totalCommits) VALUES (#{studentname},#{project},#{totalCommits})
    </insert>
    <!-- ??????   -->
    <insert id="addproject" parameterType="Project" keyProperty="id" >
        INSERT INTO project(pname,student1,student2) VALUES (#{pname},#{student1},#{student2})
    </insert>

    <!--????-->
    <delete id="delete" parameterType="int">
        delete from student where id = #{id}
    </delete>

    <!--??id????-->
    <select id="findStudentById" resultType="Student">
        select * from student where id = #{id}
    </select>
    <!--??id????-->
    <select id="findStudentByStudentName" resultType="Student">
        select * from student where studentname = #{studentname}
    </select>

    <!--??????-->
    <update id="update"  parameterType="student">
        update student set studentname=#{studentname},project=#{project} where id=#{id}
    </update>

</mapper>
