<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crud.mapper.CommitEventMapper">

    <!--??????-->
    <select id="committeemen" resultType="CommitEvent">
        select * from test1.commitevent
    </select>

    <!--????-->
    <insert id="addevent" parameterType="CommitEvent" keyProperty="id" >
        replace INTO test1.commitevent(pid,pname,commitDate,totalCommit)
        VALUES (#{pid},#{pname},#{commitDate},#{totalCommit})
    </insert>

    <!--??date,id?????????-->
    <select id="findEventByIdAndDate" resultType="CommitEvent">
        select * from test1.commitevent where commitDate = #{pid} and commitDate=#{date}
    </select>

</mapper>
