<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>交易列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/css/demo.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/js/validateExtends.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            //datagrid初始化
            $('#dataList').datagrid({
                title:'交易信息列表',
                iconCls:'icon-more',//图标
                border: true,
                collapsible: false,//是否可折叠的
                fit: true,//自动大小
                method: "post",
                url:[[@{/trade/gettradeList}]],
                idField:'id',
                singleSelect: true,//是否单选
                pagination: true,//分页控件
                rownumbers: true,//行号
                sortName:'id',
                sortOrder:'DESC',
                remoteSort: false,
                columns: [
                    [
                    {field:'chk',checkbox: true,width:50},
                    {field:'id',title:'ID',width:50},
                    {field:'buyerId',title:'买家',width:200,
                        formatter: function(value,row,index){
                            if (row.buyerId){
                                var buyerList = $("#buyerList").combobox("getData");
                                for(var i=0;i<buyerList.length;i++ ){
                                    //console.log(clazzList[i]);
                                    if(row.buyerId == buyerList[i].id)return buyerList[i].username;
                                }
                                return row.buyerId;
                            } else {
                                return 'not found';
                            }
                        }
                    },
                        {field:'sellerId',title:'卖家',width:200,
                            formatter: function(value,row,index){
                                if (row.sellerId){
                                    var sellerList = $("#sellerList").combobox("getData");
                                    for(var i=0;i<sellerList.length;i++ ){
                                        //console.log(clazzList[i]);
                                        if(row.sellerId == sellerList[i].id)return sellerList[i].username;
                                    }
                                    return row.sellerId;
                                } else {
                                    return 'not found';
                                }
                            }
                        },
                    {field:'productId',title:'商品',width:200,
                        formatter: function(value,row,index){
                            if (row.productId){
                                var productList = $("#productList").combobox("getData");
                                for(var i=0;i<productList.length;i++ ){
                                    //console.log(clazzList[i]);
                                    if(row.productId == productList[i].id)return productList[i].name;
                                }
                                return row.productId;
                            } else {
                                return 'not found';
                            }
                        }
                    },
                    {field:'trade',title:'交易',width:200},
                        {field:'product_num',title:'购买数量',width:200},
                        {field:'total_trade',title:'总共花销',width:200},
                    {field:'remark',title:'评论',width:200}
                    ]
                ],
                toolbar: "#toolbar",
                onBeforeLoad : function(){
                    try{
                        $("#buyerList").combobox("getData")
                    }catch(err){
                        preLoadClazz();
                    }
                }
            });
            //提前加载买家和商品信息
            function preLoadClazz(){
                $("#buyerList").combobox({
                    width: "150",
                    height: "25",
                    valueField: "id",
                    textField: "username",
                    multiple: false, //可多选
                    editable: false, //不可编辑
                    method: "post",
                    url: [[@{/buyer/getbuyerList(from=combox)}]],

                });
                $("#productList").combobox({
                    width: "150",
                    height: "25",
                    valueField: "id",
                    textField: "name",
                    multiple: false, //可多选
                    editable: false, //不可编辑
                    method: "post",
                    url: [[@{/product/getproductList(from=combox)}]],

                });
                $("#sellerList").combobox({
                    width: "150",
                    height: "25",
                    valueField: "id",
                    textField: "name",
                    multiple: false, //可多选
                    editable: false, //不可编辑
                    method: "post",
                    url: [[@{/seller/getsellerList(from=combox)}]],

            });
            }

            //设置分页控件
            var p = $('#dataList').datagrid('getPager');
            $(p).pagination({
                pageSize: 10,//每页显示的记录条数，默认为10
                pageList: [10,20,30,50,100],//可以设置每页记录条数的列表
                beforePageText: '第',//页数文本框前显示的汉字
                afterPageText: '页    共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });

            //设置工具类按钮
            $("#add").click(function(){
                $("#addDialog").dialog("open");
            });

            //设置导入工具类按钮
            $("#import").click(function(){
                $("#importDialog").dialog("open");
            });

            //设置编辑按钮
            $("#edit").click(function(){
                table = $("#editTable");
                var selectRows = $("#dataList").datagrid("getSelections");
                if(selectRows.length != 1){
                    $.messager.alert("消息提醒", "请选择一条数据进行操作!", "warning");
                } else{
                    $("#edit_id").val(selectRows[0].id);
                    $("#editDialog").dialog("open");
                }
            });


            //删除
            $("#delete").click(function(){
                var selectRow = $("#dataList").datagrid("getSelected");
                if(selectRow == null){
                    $.messager.alert("消息提醒", "请选择数据进行删除!", "warning");
                } else{
                    var id = selectRow.id;
                    $.messager.confirm("消息提醒", "确定删除交易么，确认继续？", function(r){
                        if(r){
                            $.ajax({
                                type: "post",
                                url: [[@{/trade/deletetrade}]],
                                data: {id: id},
                                success: function(data){
                                    if(data.success){
                                        $.messager.alert("消息提醒",data.message,"info");
                                        //刷新表格
                                        $("#dataList").datagrid("reload");
                                    }else{
                                        $.messager.alert("消息提醒",data.message,"warning");
                                        return;
                                    }
                                }
                            });
                        }
                    });
                }
            });

            //设置添加窗口
            $("#addDialog").dialog({
                title: "添加交易信息",
                width: 450,
                height: 450,
                iconCls: "icon-add",
                modal: true,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                draggable: true,
                closed: true,
                buttons: [
                    {
                        text:'添加',
                        plain: true,
                        iconCls:'icon-book-add',
                        handler:function(){
                            var validate = $("#addForm").form("validate");
                            if(!validate){
                                $.messager.alert("消息提醒","请检查你输入的数据!","warning");
                                return;
                            } else{
                                $.ajax({
                                    type: "post",
                                    url: [[@{/trade/addtrade}]],
                                    data: $("#addForm").serialize(),
                                    success: function(data){
                                        if(data.success){
                                            $.messager.alert("消息提醒",data.message,"info");
                                            //关闭窗口
                                            $("#addDialog").dialog("close");
                                            //清空原表格数据
                                            $("#add_remark").textbox('setValue', "");
                                            //刷新
                                            $('#dataList').datagrid("reload");
                                        } else{
                                            $.messager.alert("消息提醒",data.message,"warning");
                                            return;
                                        }
                                    }
                                });
                            }
                        }
                    },
                    {
                        text:'重置',
                        plain: true,
                        iconCls:'icon-book-reset',
                        handler:function(){
                            $("#add_remark").textbox('setValue', "");
                        }
                    },
                ]
            });

            //设置修改窗口
            $("#editDialog").dialog({
                title: "修改交易信息",
                width: 450,
                height: 450,
                iconCls: "icon-edit",
                modal: true,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                draggable: true,
                closed: true,
                buttons: [
                    {
                        text:'修改',
                        plain: true,
                        iconCls:'icon-book-edit',
                        handler:function(){
                            var validate = $("#editForm").form("validate");
                            if(!validate){
                                $.messager.alert("消息提醒","请检查你输入的数据!","warning");
                                return;
                            } else{
                                $.ajax({
                                    type: "post",
                                    url: [[@{/trade/edittrade}]],
                                    data: $("#editForm").serialize(),
                                    success: function(data){
                                        if(data.success){
                                            $.messager.alert("消息提醒",data.message,"info");
                                            //关闭窗口
                                            $("#editDialog").dialog("close");
                                            //清空原表格数据
                                            $("#edit_remark").textbox('setValue', "");
                                            //刷新
                                            $('#dataList').datagrid("reload");
                                        }else{
                                            $.messager.alert("消息提醒",data.message,"warning");
                                            return;
                                        }
                                    }
                                });
                            }
                        }
                    },
                    {
                        text:'重置',
                        plain: true,
                        iconCls:'icon-book-reset',
                        handler:function(){
                            $("#edit_remark").textbox('setValue', "");
                        }
                    },
                ],
                onBeforeOpen: function(){
                    var selectRow = $("#dataList").datagrid("getSelected");
                    //设置值
                    $("#edit_buyerList").combobox('setValue', selectRow.buyerId);
                    $("#edit_sellerList").combobox('setValue', selectRow.sellerId);
                    $("#edit_trade").numberbox('setValue', selectRow.trade);
                    $("#edit_remark").textbox('setValue', selectRow.remark);
                    $("#edit_product_num").textbox('setValue', selectRow.product_num);
                    $("#edit_total_trade").textbox('setValue', selectRow.total_trade);
                    //$("#edit_productList").textbox('setValue', selectRow.productId);
                    //$("#edit_productList").textbox('setValue', selectRow.productId);
                    setTimeout(function(){
                        $("#edit_productList").combobox('setValue', selectRow.productId);
                    }, 100);

                }
            });

            //设置导入窗口
            $("#importDialog").dialog({
                title: "导入交易信息",
                width: 450,
                height: 150,
                iconCls: "icon-add",
                modal: true,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                draggable: true,
                closed: true,
                buttons: [
                    {
                        text:'确认导入',
                        plain: true,
                        iconCls:'icon-book-add',
                        handler:function(){
                            var validate = $("#importForm").form("validate");
                            if(!validate){
                                $.messager.alert("消息提醒","请选择文件!","warning");
                                return;
                            } else{
                                importtrade();
                                $("#importDialog").dialog("close");
                            }
                        }
                    }
                ]
            });

            //下拉框通用属性
            $("#add_productList,#productList, #edit_productList").combobox({
                width: "200",
                height: "30",
                valueField: "id",
                textField: "name",
                multiple: false, //不可多选
                editable: false, //不可编辑
                method: "post",
            });
            $("#add_buyerList,#buyerList,#edit_buyerList").combobox({
                width: "200",
                height: "30",
                valueField: "id",
                textField: "username",
                multiple: false, //不可多选
                editable: false, //不可编辑
                method: "post",
            });

            $("#add_sellerList,#sellerList,#edit_sellerList").combobox({
                width: "200",
                height: "30",
                valueField: "id",
                textField: "username",
                multiple: false, //不可多选
                editable: false, //不可编辑
                method: "post",
            });

            //添加信息买家选择框
            $("#add_buyerList").combobox({
                url: [[@{/buyer/getbuyerList(from=combox)}]],
                onLoadSuccess: function(){
                    //默认选择第一条数据
                    var data = $(this).combobox("getData");
                    $(this).combobox("setValue", data[0].id);
                    getbuyerSelectedproductList(data[0].id);
                },
                onChange:function(id,o){
                    getbuyerSelectedproductList(id);
                }
            });

            //添加信息商品选择框
            function getbuyerSelectedproductList(sid){
                //添加信息商品选择框
                //var u = [[@{/attendance/getbuyerSelectedproductList}]];
                $("#add_productList").combobox({
                    url: [[@{/product/getproductList(from=combox)}]],
                    onLoadSuccess: function(){
                        //默认选择第一条数据
                        var data = $(this).combobox("getData");
                        $(this).combobox("setValue", data[0].id);
                    }
                });
                $("#add_sellerList").combobox({
                    url: [[@{/seller/getsellerList(from=combox)}]],
                onLoadSuccess: function(){
                    //默认选择第一条数据
                    var data = $(this).combobox("getData");
                    $(this).combobox("setValue", data[0].id);
                }
            });
            }

            //修改信息买家选择框
            $("#edit_buyerList").combobox({
                url: [[@{/buyer/getbuyerList(from=combox)}]],
                onLoadSuccess: function(){
                    //默认选择第一条数据
                    var data = $(this).combobox("getData");
                    $(this).combobox("setValue", data[0].id);
                    getEditbuyerSelectedproductList(data[0].id);
                },
                onChange:function(id,o){
                    getEditbuyerSelectedproductList(id);
                }
            });





            function getEditbuyerSelectedproductList(buyerId){
                //修改信息商品选择框
                $("#edit_productList").combobox({
                    //url: [[@{/attendance/getbuyerSelectedproductList}]]+"&buyerid="+buyerId,
                    url: [[@{/product/getproductList(from=combox)}]],
                    onLoadSuccess:
                function(){
                        //默认选择第一条数据
                        var data = $(this).combobox("getData");
                        $(this).combobox("setValue", data[0].id);
                    }
                });

                $("#edit_sellerList").combobox({
                    //url: [[@{/attendance/getbuyerSelectedproductList}]]+"&buyerid="+buyerId,
                    url: [[@{/seller/getsellerList(from=combox)}]],
                onLoadSuccess:
                    function(){
                        //默认选择第一条数据
                        var data = $(this).combobox("getData");
                        $(this).combobox("setValue", data[0].id);
                    }
            });
            }

            //搜索按钮监听事件
            $("#search-btn").click(function(){
                $('#dataList').datagrid('load',{
                    buyerid: $("#buyerList").combobox('getValue') == '' ? 0 : $("#buyerList").combobox('getValue'),
                    productid: $("#productList").combobox('getValue') == '' ? 0 : $("#productList").combobox('getValue'),
                    sellerid: $("#sellerList").combobox('getValue') == '' ? 0 : $("#sellerList").combobox('getValue')
                });
            });

            //导出按钮监听事件
            $("#export").click(function(){
                buyerid = $("#buyerList").combobox('getValue') == '' ? 0 : $("#buyerList").combobox('getValue');
                productid = $("#productList").combobox('getValue') == '' ? 0 : $("#productList").combobox('getValue');
                //sellerid: $("#sellerList").combobox('getValue') == '' ? 0 : $("#sellerList").combobox('getValue');
                url = [[@{/trade/exporttrade}]] + "?buyerId=" + buyerid + "&productId="+productid;
                window.location.href = url;
            });

            //清空搜索条件
            $("#clear-btn").click(function(){
                $('#dataList').datagrid("reload",{});
                $("#buyerList").combobox('clear');
                $("#productList").combobox('clear');
                $("#sellerList").combobox('clear');
            });

            function importtrade(){
                $("#importForm").submit();
                $.messager.progress({text:'正在上传导入中...'});
                var interval = setInterval(function(){
                    var message =  $(window.frames["import_target"].document).find("#message").text();
                    if(message != null && message != ''){
                        $.messager.progress('close');
                        $.messager.alert("消息提醒",message,"info");
                        $('#dataList').datagrid("reload");
                        clearInterval(interval);
                    }
                }, 1000)
            }
        });
        /*]]>*/
    </script>
</head>
<body>
<!-- 数据列表 -->
<table id="dataList" cellspacing="0" cellpadding="0">

</table>
<!-- 工具栏 -->
<div id="toolbar">
        <div th:if="${session.usertype == '1' || session.usertype == '2'}" style="float: left;"><a id="add" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a></div>
        <div style="float: left;" class="datagrid-btn-separator"></div>
        <div style="float: left;"><a id="import" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">导入</a></div>
        <div style="float: left;" class="datagrid-btn-separator"></div>
        <div style="float: left;"><a id="export" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">导出</a></div>
        <div style="float: left;" class="datagrid-btn-separator"></div>
        <div th:if="${session.usertype == '1' || session.usertype == '2'}" style="float: left;"><a id="edit" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a></div>
        <div style="float: left;" class="datagrid-btn-separator"></div>
        <div th:if="${session.usertype == '1' || session.usertype == '2'}" style="float: left; margin-right: 10px;"><a id="delete" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-some-delete',plain:true">删除</a></div>
        <div style="float: left;" class="datagrid-btn-separator"></div>
    <div style="margin-top: 3px;">
        买家：<input id="buyerList" class="easyui-textbox" name="buyerList" />
        商品：<input id="productList" class="easyui-textbox" name="productList" />
        卖家：<input id="sellerList" class="easyui-textbox" name="sellerList" />
        <a id="search-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>
        <a id="clear-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">清空搜索</a>
    </div>
</div>

<!-- 添加数据窗口 -->
<div id="addDialog" style="padding: 10px">
    <form id="addForm" method="post">
        <table cellpadding="8" >
            <tr>
                <td style="width:40px">买家:</td>
                <td colspan="3">
                    <input id="add_buyerList" style="width: 200px; height: 30px;" class="easyui-textbox" name="buyerId" />
                </td>
                <td style="width:80px"></td>
            </tr>
            <tr>
                <td style="width:40px">商品:</td>
                <td colspan="3">
                    <input id="add_productList" style="width: 200px; height: 30px;" class="easyui-textbox" name="productId" data-options="required:true, missingMessage:'请选择商品'" />
                </td>
                <td style="width:80px"></td>
            </tr>
            <tr>
                <td style="width:40px">卖家:</td>
                <td colspan="3">
                    <input id="add_sellerList" style="width: 200px; height: 30px;" class="easyui-textbox" name="sellerId" data-options="required:true, missingMessage:'请选择卖家'" />
                </td>
                <td style="width:80px"></td>
            </tr>

            <tr>
                <td style="width:40px">单价:</td>
                <td colspan="3">
                    <input id="add_trade" style="width: 200px; height: 30px;" class="easyui-numberbox" data-options="required:true,min:0,precision:2, missingMessage:'请填写正确的交易'" name="trade" />
                </td>
                <td style="width:80px"></td>
            </tr>
            <tr>
                <td>购买数量:</td>
                <td><input id="add_product_num" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="product_num" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td>总共花销:</td>
                <td><input id="add_total_trade" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="total_trade" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td>备注:</td>
                <td>
                    <textarea id="add_remark" name="remark" style="width: 300px; height: 160px;" class="easyui-textbox" data-options="multiline:true" ></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- 修改数据窗口 -->
<div id="editDialog" style="padding: 10px">
    <form id="editForm" method="post">

        <input type="hidden" id="edit_id" name="id">
        <table cellpadding="8" >
            <tr>
                <td style="width:40px">买家:</td>
                <td colspan="3">
                    <input id="edit_buyerList" style="width: 200px; height: 30px;" class="easyui-textbox" name="buyerId" />
                </td>
                <td style="width:80px"></td>
            </tr>
            <tr>
                <td style="width:40px">商品:</td>
                <td colspan="3">
                    <input id="edit_productList" style="width: 200px; height: 30px;" class="easyui-textbox" name="productId" data-options="required:true, missingMessage:'请选择商品'" />
                </td>
                <td style="width:80px"></td>
            </tr>

            <tr>
                <td style="width:40px">卖家:</td>
                <td colspan="3">
                    <input id="edit_sellerList" style="width: 200px; height: 30px;" class="easyui-textbox" name="sellerId" data-options="required:true, missingMessage:'请选择卖家'" />
                </td>
                <td style="width:80px"></td>
            </tr>

            <tr>
                <td style="width:40px">单价:</td>
                <td colspan="3">
                    <input id="edit_trade" style="width: 200px; height: 30px;" class="easyui-numberbox" data-options="required:true,min:0,precision:2, missingMessage:'请填写正确的交易'" name="trade" />
                </td>
                <td style="width:80px"></td>
            </tr>
            <tr>
                <td>购买数量:</td>
                <td><input id="edit_product_num" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="product_num" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td>总共花销:</td>
                <td><input id="edit_total_trade" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="total_trade" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td>备注:</td>
                <td>
                    <textarea id="edit_remark" name="remark" style="width: 300px; height: 160px;" class="easyui-textbox" data-options="multiline:true" ></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- 导入数据窗口 -->
<div id="importDialog" style="padding: 10px">
    <form id="importForm" method="post" enctype="multipart/form-data" th:action="@{/templates/trade/importtrade}" target="import_target">
        <table cellpadding="8" >
            <tr>
                <td>请选择文件:</td>
                <td>
                    <input class="easyui-filebox" name="importtrade" data-options="required:true,min:0,precision:2, missingMessage:'请选择文件',prompt:'选择文件'" style="width:200px;">
                </td>
            </tr>

        </table>
    </form>
</div>
<!-- 提交表单处理iframe框架 -->
<iframe id="import_target" name="import_target"></iframe>
</body>
</html>