<?xml version="1.0" encoding="UTF-8"?>
<!--
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

</beans>
-->
<!--application配置文件中mybatis:mapper-locations:对应的就是该文件地址-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studentaccessment.mapper.DataMapper">
<!--    查询所有数据-->
    <select id="dataList" resultType="DataEntity">
        select * from data
    </select>

<!--    根据姓名查询数据-->
    <select id="findDataByName" resultType="DataEntity">
        select * from data where name=#{name}
    </select>

<!--    根据项目查询数据-->
    <select id="findDataByProject" resultType="DataEntity">
        select * from data where project=#{project}
    </select>
</mapper>