 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/css/demo.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/js/validateExtends.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            //datagrid初始化
            $('#dataList').datagrid({
                title:'商品列表',
                iconCls:'icon-more',//图标
                border: true,
                collapsible: false,//是否可折叠的
                fit: true,//自动大小
                method: "post",
                url:[[@{/product/getproductList}]],
                idField:'id',
                singleSelect: false,//是否单选
                pagination: true,//分页控件
                rownumbers: true,//行号
                sortName:'id',
                sortOrder:'DESC',
                remoteSort: false,
                columns: [
                    [
                    {field:'chk',checkbox: true,width:50},
                    {field:'id',title:'ID',width:50, sortable: true},
                    {field:'name',title:'商品',width:200},
                    {field:'sellerId',title:'卖家',width:200,
                        formatter: function(value,row,index){
                            if (row.sellerId){
                                var sellerList = $("#sellerList").combobox("getData");
                                for(var i=0;i<sellerList.length;i++ ){
                                    if(row.sellerId == sellerList[i].id)return sellerList[i].username;
                                }
                                //return row.sellerId+"00";
                                return "***"+row.sellerId+"***";
                            } else {
                                return 'not found';
                            }
                        }
                    },
                        {field:'produce_date',title:'上货日期',width:200},
                        {field:'selectedNum',title:'已卖',width:200},
                        {field:'maxNum',title:'总量',width:200},
                        {field:'price',title:'价格',width:200},
                        {field:'info',title:'备注',width:200},
                ]
                ],
                toolbar: "#toolbar",
                onBeforeLoad : function(){
                    try{
                        $("#sellerList").combobox("getData")
                    }catch(err){
                        preLoadClazz();
                    }
                }
            });
            //提前加载信息
            function preLoadClazz(){
                $("#sellerList").combobox({
                    width: "150",
                    height: "25",
                    valueField: "id",
                    textField: "username",
                    multiple: false, //可多选
                    editable: false, //不可编辑
                    method: "post",
                    url: [[@{/seller/getsellerList(from=combox)}]],
                    onChange: function(newValue, oldValue){

                    }

                });
            }

            //设置分页控件
            var p = $('#dataList').datagrid('getPager');
            $(p).pagination({
                pageSize: 10,//每页显示的记录条数，默认为10
                pageList: [10,20,30,50,100],//可以设置每页记录条数的列表
                beforePageText: '第',//页数文本框前显示的汉字
                afterPageText: '页    共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });

            //设置工具类按钮
            $("#add").click(function(){
                $("#addDialog").dialog("open");
            });

            //设置编辑按钮
            $("#edit").click(function(){
                table = $("#editTable");
                var selectRows = $("#dataList").datagrid("getSelections");
                if(selectRows.length != 1){
                    $.messager.alert("消息提醒", "请选择一条数据进行操作!", "warning");
                } else{
                    $("#editDialog").dialog("open");
                }
            });

            //编辑商品信息
            $("#editDialog").dialog({
                title: "修改商品信息",
                width: 450,
                height: 400,
                iconCls: "icon-edit",
                modal: true,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                draggable: true,
                closed: true,
                buttons: [
                    {
                        text:'提交',
                        plain: true,
                        iconCls:'icon-user_add',
                        handler:function(){
                            var validate = $("#editForm").form("validate");
                            if(!validate){
                                $.messager.alert("消息提醒","请检查你输入的数据!","warning");
                                return;
                            } else{
                                var sellerId = $("#edit_sellerList").combobox("getValue");
                                var id = $("#dataList").datagrid("getSelected").id;
                                var name = $("#edit_name").textbox("getText");
                                var maxNum = $("#edit_maxNum").textbox("getValue");
                                var selectedNum = $("#edit_selectedNum").textbox("getValue");
                                var produce_date = $("#edit_produce_date").textbox("getValue");
                                var info = $("#edit_info").val();
                                var price = $("#edit_price").textbox("getText");
                                var data = {id:id, sellerId:sellerId, name:name,info:info, price:price, maxNum:maxNum, selectedNum:selectedNum, produce_date:produce_date};

                                $.ajax({
                                    type: "post",
                                    url: /*[[@{/product/editproduct}]]*/,
                                    data: data,
                                    success: function(data){
                                        if(data.success){
                                            $.messager.alert("消息提醒",data.message,"info");
                                            //关闭窗口
                                            $("#editDialog").dialog("close");
                                            //清空原表格数据
                                            $("#edit_name").textbox('setValue', "");
                                            $("#edit_info").val("");
                                            $("#edit_price").textbox('setValue', "");//-----
                                            $("#edit_maxNum").textbox('setValue', "");//-----
                                            $("#edit_selectedNum").textbox('setValue', "");//-----
                                            $("#edit_produce_date").textbox('setValue', "");//-----


                                            //重新刷新页面数据
                                            $('#dataList').datagrid("reload");
                                            $('#dataList').datagrid("uncheckAll");

                                        } else{
                                            $.messager.alert("消息提醒",data.message,"warning");
                                            return;
                                        }
                                    }
                                });
                            }
                        }
                    },
                    {
                        text:'重置',
                        plain: true,
                        iconCls:'icon-reload',
                        handler:function(){
                            $("#edit_name").textbox('setValue', "");
                            $("#edit_phone").textbox('setValue', "");
                            $("#edit_qq").textbox('setValue', "");

                            $(table).find(".chooseTr").remove();

                        }
                    },
                ],
                onBeforeOpen: function(){
                    var selectRow = $("#dataList").datagrid("getSelected");
                    //设置值
                    $("#edit_name").textbox('setValue', selectRow.name);
                    $("#edit_info").val(selectRow.info);
                    $("#edit_price").textbox('setValue', selectRow.price);
                    $("#edit_produce_date").textbox('setValue', selectRow.produce_date);
                    $("#edit_selectedNum").textbox('setValue', selectRow.selectedNum);
                    $("#edit_maxNum").textbox('setValue', selectRow.maxNum);
                    var sellerId = selectRow.sellerId;
                    setTimeout(function(){
                        $("#edit_sellerList").combobox('setValue', sellerId);
                    }, 100);
                },
                onClose: function(){
                    $("#edit_name").textbox('setValue', "");
                    //$("#edit_product_date").textbox('setValue', "");
                    $("#edit_info").val("");
                    //$("#edit-id").val('');
                }
            });

            //删除
            $("#delete").click(function(){
                var selectRow = $("#dataList").datagrid("getSelections");
                if(selectRow == null){
                    $.messager.alert("消息提醒", "请选择数据进行删除!", "warning");
                } else{
                    var jsonObj = {};
                    $.each(selectRow,function(i,n){
                        jsonObj["ids["+i+"]"] = n.id;
                    });
                    $.messager.confirm("消息提醒", "将删除与商品相关的所有数据，确认继续？", function(r){
                        if(r){
                            $.ajax({
                                type: "post",
                                url: [[@{/product/deleteproduct}]],
                                data: jsonObj,
                                success: function(data){
                                    if(data.message){
                                        $.messager.alert("消息提醒",data.success,"info");
                                        //刷新表格
                                        $("#dataList").datagrid("reload");
                                    } else{
                                        $.messager.alert("消息提醒",data.message,"warning");
                                        return;
                                    }
                                }
                            });
                        }
                    });
                }
            });

            //设置添加窗口
            $("#addDialog").dialog({
                title: "添加商品",
                width: 450,
                height: 400,
                iconCls: "icon-add",
                modal: true,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                draggable: true,
                closed: true,
                buttons: [
                    {
                        text:'添加',
                        plain: true,
                        iconCls:'icon-book-add',
                        handler:function(){
                            var validate = $("#addForm").form("validate");
                            if(!validate){
                                $.messager.alert("消息提醒","请检查你输入的数据!","warning");
                                return;
                            } else{
                                $.ajax({
                                    type: "post",
                                    url: [[@{/product/addproduct}]],
                                    data: $("#addForm").serialize(),
                                    success: function(data){
                                        if(data.success){
                                            $.messager.alert("消息提醒",data.message,"info");
                                            //关闭窗口
                                            $("#addDialog").dialog("close");
                                            //清空原表格数据
                                            $("#add_name").textbox('setValue', "");
                                            //刷新
                                            $('#dataList').datagrid("reload");
                                        } else{
                                            $.messager.alert("消息提醒",data.message,"warning");
                                            return;
                                        }
                                    }
                                });
                            }
                        }
                    },
                    {
                        text:'重置',
                        plain: true,
                        iconCls:'icon-book-reset',
                        handler:function(){
                            $("#add_name").textbox('setValue', "");
                        }
                    },
                ]
            });

            //下拉框通用属性
            $("#add_sellerList, #edit_sellerList,#sellerList").combobox({
                width: "200",
                height: "30",
                valueField: "id",
                textField: "username",
                multiple: false, //不可多选
                editable: false, //不可编辑
                method: "post",
            });
            //添加信息商品选择框
            $("#add_sellerList").combobox({
                url: [[@{/seller/getsellerList(from=combox)}]],
                onLoadSuccess: function(){
                    //默认选择第一条数据
                    var data = $(this).combobox("getData");
                    $(this).combobox("setValue", data[0].id);
                }
            });
            //编辑信息商品选择框
            $("#edit_sellerList").combobox({
                url: [[@{/seller/getsellerList(from=combox)}]],
                onLoadSuccess: function(){
                    //默认选择第一条数据
                    var data = $(this).combobox("getData");
                    $(this).combobox("setValue", data[0].id);
                }
            });

            //搜索按钮监听事件
            $("#search-btn").click(function()
            {
                $('#dataList').datagrid('load', {
                    name: $('#productName').val(),
                    sellerid: $("#sellerList").combobox('getValue') == '' ? 0 : $("#sellerList").combobox('getValue')
                });
            });

            $("#jump-btn").click(function()
            {
                $.ajax({
                    type: "post",
                    url: [[@{/trade/tradeStats}]],
                success: function()
                {
                    window.location.href = [[@{/trade/tradeStats}]];
                }
            });
            });

        });
        /*]]>*/
    </script>
</head>
<body>
<!-- 数据列表 -->
<table id="dataList" cellspacing="0" cellpadding="0">

</table>
<!-- 工具栏 -->
<div id="toolbar">
    <div style="float: left;"><a id="add" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a></div>
    <div style="float: left;" class="datagrid-btn-separator"></div>
    <div style="float: left;"><a id="edit" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a></div>
    <div style="float: left; margin-right: 10px;"><a id="delete" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-some-delete',plain:true">删除</a></div>
    <div style="float: left;" class="datagrid-btn-separator"></div>
    <div style="margin-top: 3px;">
        商品名称：<input id="productName" class="easyui-textbox" name="clazzName" />
        卖家：<input id="sellerList" class="easyui-textbox" name="clazz" />
        <a id="search-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>

    </div>
    <div th:if="${session.usertype == '1'}" style="float: left;">
        <a id="jump-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">跳转</a>
    </div>
</div>

<!-- 添加数据窗口 -->
<div id="addDialog" style="padding: 10px">
    <form id="addForm" method="post">
        <table cellpadding="8" >
            <tr>
                <td>商品名称:</td>
                <td><input id="add_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td style="width:40px">卖家:</td>
                <td colspan="3">
                    <input id="add_sellerList" style="width: 200px; height: 30px;" class="easyui-textbox" name="sellerId" />
                </td>
                <td style="width:80px"></td>
            </tr>

            <tr>
                <td>商品介绍:</td>
                <td>
                    <textarea id="info" name="info" style="width: 200px; height: 60px;" class="" ></textarea>
                </td>
            </tr>

            <tr>
                <td>价格:</td>
                <td><input id="add_price" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="price" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td>上货日期:</td>
                <td><input id="add_produce_date" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="produce_date" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td>已卖:</td>
                <td><input id="add_selectedNum" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="selectedNum" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td>总量:</td>
                <td><input id="add_maxNum" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="maxNum" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>

        </table>
    </form>
</div>

<!-- 编辑数据窗口 -->
<div id="editDialog" style="padding: 10px">
    <form id="editForm" method="post">
        <!-- <input type="hidden" name="id" id="edit-id"> -->
        <table cellpadding="8" >
            <tr>
                <td>商品名称:</td>
                <td><input id="edit_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td style="width:40px">卖家:</td>
                <td colspan="3">
                    <input id="edit_sellerList" style="width: 200px; height: 30px;" class="easyui-textbox" name="sellerid" />
                </td>
                <td style="width:80px"></td>
            </tr>



            <tr>
                <td>商品介绍:</td>
                <td>
                    <textarea id="edit_info" name="info" style="width: 200px; height: 60px;" class="" ></textarea>
                </td>
            </tr>
            <tr>
                <td>商品价格:</td>
                <td><input id="edit_price" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="price" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>

            <tr>
                <td>上货日期:</td>
                <td><input id="edit_produce_date" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="produce_date" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td>已卖:</td>
                <td><input id="edit_selectedNum" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="selectedNum" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>
            <tr>
                <td>总量:</td>
                <td><input id="edit_maxNum" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="maxNum" data-options="required:true, missingMessage:'不能为空'" /></td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>